  body  {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f8f8f8;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .allContentSection  {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px 0px;
  }

  /*HEADLINE STYLE*/

  .Headline_Section {
    height: 20vh;
    width: 100vw;
    /* border: 3px blue solid; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.SubT-presentation {
    color: black;
    font-family: "Be Vietnam Pro-Bold", Helvetica;
    font-size: 20px;
    margin-bottom: 20px;

}

.Headline_Section .Title-MovieName {
    color: #013da5;
    font-weight: bold;
    font-family: "Be Vietnam Pro-Bold", Helvetica;
    font-size: 54px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}

/*QUIZ SECTION STYLE*/

  .BigPurpuseAwser  {
    background-color: #013DA5;
    height: 100px;
    width: 36%;
    border-radius: 10px;
    letter-spacing: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2%;
  }

  .BigPurpuseAwser h3 {
      color: #f8f8f8;
      font-family: Arial;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 40.4px;
      top: 0;
  }

  .QuizSection {
    height: auto;
    min-width: 80vw;
    min-height: 50%;
    /* border: 1px red solid; */
    align-items: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px 4%;
    flex-wrap: wrap;
    position: relative;
  }



