  body  {
    height: 100vh;
    width: 100vw;
    /*overflow: hidden;*/
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .BigPurpuseAwser  {
    background-color: #013DA5;
    height: 100px;
    width: 24vw;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2%;
  }

  .BigPurpuseAwser h3 {
      color: #f8f8f8;
      font-family: Arial;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 50.4px;
      top: 0;
  }

  .QuizSection {
    height: 70vh;
    border: 1px red solid;
    align-items: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px 150px;
    flex-wrap: wrap;
    position: relative;
  }

  .Headline_Section {
    border: 2px blue solid;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    position: relative;
}

.Headline_Section .SubT-presentation {
    color: #101016;
    font-family: "Be Vietnam Pro-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.Headline_Section .Title-MovieName {
    align-self: stretch;
    color: #013da5;
    font-family: "Be Vietnam Pro-Bold", Helvetica;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
}

